
tw-story {
  color: rgb(67, 67, 67); /* Set text to green or other color */
  font-size: 20px;
  font-family: "Helvetica", "Arial", sans-serif;
  background: rgb(222, 222, 222); /* For old browsers */
  margin-top: 0 auto;
  padding: 0% 0%;
}

body{
  /* overflow: hidden !important; */
  margin-bottom:50px !important;
}

/* This is a Button */
tw-link.enchantment-button,
.enchantment-button:not(.link) tw-link,
.enchantment-button:not(.link) .link,
.link.enchantment-button {
  background-image: linear-gradient(rgb(253, 253, 253), rgb(242, 242, 238), rgb(219, 214, 203));
  border: 2px solid #3E5C88;
  display: block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border-radius: 4px;
  cursor:pointer;
}
tw-link.enchantment-button :hover,
.enchantment-button:not(.link) tw-link :hover,
.enchantment-button:not(.link) .link :hover,
.enchantment-button :hover {
  border: 2px solid orange !important;
  color: black !important;
}
/* this is a link */
tw-link :hover,
.enchantment-link :hover{
  color: black;
}

tw-link , .enchantment-link{
  color: black
}

tw-link.visited{
  color: black;
}

img {
  /* Images won't get wider than tw-passage container */
  max-width: 100%;
}

tw-hook{
  padding: 0em !important;
  background-attachment: scroll !important;
}


tw-column {
  margin: 0 auto !important;
}

tw-align{
  max-width: 100% !important;
}

tw-expression{
  cursor: auto
}

tw-include[name="Footer"]{
    position: fixed;
    /* background-color: rgb(54, 95, 213); */
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    z-index:100;
}

tw-expression[type="macro"]{
  padding: 0 !important;
}

tw-expression[name="input"]{
  border-style:none !important;
  border: 0;
  border-radius: 0;
}