/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v68/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsLjBuVY.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

tw-story {
  color: rgb(67, 67, 67); /* Set text to green or other color */
  font-size: 20px;
  font-family: "Helvetica", "Arial", sans-serif;
  background: rgb(222, 222, 222); /* For old browsers */
  margin-top: 0 auto;
  padding: 0% 0%;
  overflow: hidden !important;
}


/* This is a Button */
tw-link.enchantment-button,
.enchantment-button:not(.link) tw-link,
.enchantment-button:not(.link) .link,
.link.enchantment-button {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  transition: color 0.5s ease-in-out;
  display: block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  cursor:pointer;
}

/* this is a link */
tw-link :hover,
.enchantment-link :hover{
  color: black;
}

tw-link , .enchantment-link{
  color: black
}

tw-link.visited{
  color: black;
}

img {
  /* Images won't get wider than tw-passage container */
  max-width: 100%;
}

tw-hook{
  padding: 0em !important;
  background-attachment: scroll !important;
}

tw-hook:hover{
  color: black;
}

tw-column {
  margin: 0 auto !important;
}

tw-align{
  max-width: 100% !important;
}

tw-expression{
  cursor: auto
}